body {
    background-image: url("https://media.istockphoto.com/id/1179405499/photo/silhouette-happy-family-people-group-celebrate-jump-for-good-life-on-weekend-concept-for-win.jpg?s=612x612&w=0&k=20&c=k7MJ7LHfqbSGhujiA1hde-9Faz1SKpNc9CV42ORak30=");
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    font-family: "Chakra Petch", serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#body-whole {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #073b4c;
    text-shadow: 0px 0px 5px solid white; 
}

h2 {
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 20px;
}

button {
    font-family: "Chakra Petch", serif;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: lightseagreen;
}

#collect-btn {
    background: darkgreen;
    margin-top: 10px;
}

#collect-el{
    margin-top: 20px;
    color:  #073b4c;
}
